[core]
	editor = vim
[user]
	name = Seiya Muramatsu
	email = seiya.muramatsu1@gmail.com
[color]
	ui = auto
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	sw = switch
[push]
	default = simple
[pull]
	ff = only
[ghq]
	root = ~/go/src
[url "git@github.com:"]
	insteadOf = https://github.com/
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
