" search
set hlsearch
set incsearch
set ignorecase

" keymap
nnoremap <Leader>\ :nohl<CR>

inoremap <C-f> <Right>
inoremap <C-b> <Left>
nnoremap j gj
nnoremap k gk
vnoremap j gj
vnoremap k gk

inoremap <C-h> <BS>
inoremap <C-d> <Del>
